{
	frankenphp
	order php_server before file_server
	auto_https off
	servers {
		trusted_proxies static 0.0.0.0/0 ::/0
	}
}

http://:{$PORT:80} {
	root * /app/public
	encode zstd br gzip
	php_server
	file_server
}
